body {
  background-color: rgb(238, 230, 230);
  padding: 1rem;
}


.App {
  /* text-align: center; */
  width: 300px;
  height: auto;
  margin: 0 auto;
  color: #525252;
  padding: 10px;
  border: 1px solid grey;
}

h1 {
  font-weight: 500;
}

input {
  padding: 5px;
  margin-bottom: 10px;
}

.button {
  border-radius: 5px;
  cursor: pointer;
}